# 🤖 Models
*.pt
*.bin
*.safetensors
api_backend/bert_intent_classifier/beto-intents/
api_backend/spacy_ner_training/output/

# 🧠 Python Virtual Env
venv/
__pycache__/
*.pyc

# 💣 Node Stuff
functions/node_modules/

# 🧼 Render junk (optional)
*.log
.DS_Store
